

h1   {color: black;
      text-align: center;}
h2   {color: black;}
p    {color: black;}

.column1of3 {
	float: left; 
	width: 300px; 
	margin: 50px; } 
.column2of3{ 
	float: left; 
	width: 300px; 
	margin: 50px; } 
.column3of3{ 
	float: left; 
	width: 300px; 
	margin: 50px; } 
.float-img {
	float: left;
	margin-right: 10px; 
	margin bottom: 5px; 
}
#footer {
	clear:both;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #3B3B3B;
	background:#ece9d6 url(../images/noise.png);
	text-align:center;
	width:1199px;
}

#nav {
	background:#ece9d6 url(../images/noise.png);
	height:150px;
	width:1199px;
	
}
#nav ul {
	height:50px;
	width:900px;
	float:left;
}
#nav ul li {
	list-style-type:none;
	width:150px;
	float:right;
	text-align:center;
}
#nav ul li a {
	text-decoration:none;
	color:#000000;
	line-height:50px;
	display:block;
}
body {
    font-family: mensch, Arial, Helvetica, sans-serif;
    color: #3B3B3B;
	background:#f3efee;
        margin:0px;
	padding-right:80px;
	padding-left: 60px;
	
}